// Colors
//----------------------------------------------------------------------------------------------------

$blue: #00a6fc;
$white: white;
$black: black;
$red: #e91c21;
$green: #89c348;
$orange: #f89832;
$yellow: yellow;
$charcoal: #141414;
$dark_grey: #444444;
$light_grey: #818286;
$five: #555555;

$default-color: $green !default;
